# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
.Spotlight-V100
.Trashes

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Archivos de video intermedios / originales pesados
vsl-720.m4v
vsl-original.mp4
*.mov

# temporales de macOS / video intermedios
*.sb-*
vsl-new.mp4
